.btn-grad {
  background-image: linear-gradient(
    to right,
    #614385 0%,
    #516395 51%,
    #614385 100%
  );
  padding: 10px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-family: "Exo" !important;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.signIn-signUp-text {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.signIn-signUp-text:hover {
  color: rgb(107, 11, 172);
  transition: 0.2s;
}
