body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Exo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .Mui-disabled{
  color: white !important;
} */

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  min-width: 380px !important;
}
